<div id="edit-meeting-<%= meeting.id %>-modal" class="modal hide fade">
  <div class="modal-header text-left">
    <h3>Edit Meeting or Edit Lessons?</h3>
  </div>
  <div class="modal-body text-left">
    <p class="lead">Meeting Time (and Video URL)</p>
    <p><%= link_to "<i class='fa fa-clock-o'></i> Edit Meeting".html_safe, edit_meeting_path(meeting, redirect: course_path(@course)), class: "btn" %></p>
    <p class="lead">Lesson(s)</p>
    <% if meeting.lessons.present? %>
      <% meeting.lessons.each do |l| %>
        <p><%= link_to "<i class='fa fa-compass'></i> Edit ".html_safe + l.name, edit_lesson_path(l, redirect: course_path(@course)), class: "btn" %></p>
      <% end %>
    <% else %>
      <p class="muted">
        No lessons scheduled for this meeting time yet.
        <%= link_to "Schedule them.", schedule_lessons_path(course_id: @course.id) %>
      </p>
    <% end %>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
  </div>
</div>