<% if assignment.students_can_submit && assignment.status(current_user).name != "Future" %>
  <%= link_to '<i class="icon-edit" alt="Take Assignment"></i>'.html_safe, assignment_path(assignment) %>
<% else %>
  <i class="icon-edit muted" alt="Take Assignment"></i>
<% end %>
<% if current_user && current_user.teaching?(assignment.course) %>
  <% if assignment.status(current_user).name == "Future" %>
    <i class="icon-bar-chart muted"></i>
  <% else %>
    <%= link_to '<i class="icon-bar-chart" title="Grade Assignment"></i>'.html_safe, grade_assignment_path(assignment) %>
    <% end %>
  <a class="btn btn-mini">Edit</a>
<% end %>