<div id="schedule-lesson-<%= lesson.id %>-modal" class="modal hide fade">
  <div class="modal-header">
    <h3>Schedule Lesson</h3>
  </div>
  <div class="modal-body">
    <p class="lead"><%= lesson.name %></p>
    <a class="btn btn-danger" data-dismiss="modal">Remove and Leave Later Lessons Alone</a>
    <br/>
    <a class="btn btn-danger" data-dismiss="modal">Remove and Shift Later Lessons Up</a>
    <br/>
    <a class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>