<p><%= link_to back_arrow + "Back to #{@course.code_and_name}", @course %></p>

<h2>STEP 2: Create Lessons</h2>

<p class="lead">
  Before you can proceed with scheduling, you must set up at least some of the lessons which will be taught in your course.
</p>

<%= render partial: "lesson_tree", locals: {editable: true} %>

<%= link_to 'Continue with Scheduling', schedule_lessons_path(course_id: @course.id), class: "btn" %>