<p><%= link_to back_arrow + "Back to #{@lesson.course_code_and_name}", @lesson.course %></p>

<h2>Daily Readings and Questions for <%= date_abbreviation(@lesson.held_at) %></h2>

<p class="lead">Readings for this Lesson</p>
<% if @lesson.readings.each do |r| %>
  <p><%= r.url? ? (link_to r.caption, r.url) : r.caption %></p>
<% end.empty? %>
  <p class='muted'>No readings for this lesson.</p>
<% end %>

</br>

<p class="lead">Questions for this Lesson</p>
<%= markdown(@lesson.lead_in_question || "<p class='muted'>No questions for this lesson.</p>") %>