<p><%= link_to back_arrow + "Back to #{@course.code_and_name}", @course %></p>

<h2>New Lesson for <%= @course.code_and_name %></h2>

<p class="lead"><span class="muted">Parent Lesson:</span> <%= @lesson.parent_name %></p>

<% if @course.activity_graded? %>
  <p class="lead muted">
    Note: Since this is a flipped class, you will have the ability to
    create pre-class and in-class activities for this lesson once you
    come back to edit it (after creating it).
  </p>
<% end %>

<br/>
<%= render 'form' %>

