/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 60px;

  h1, h2, h3, h4 {
    color: black;
    font-weight: normal;
  }
}

a {
  color: inherit;
  :hover {
    text-decoration: none;
  }
}

.lead {
  margin-bottom: 10px !important;
}

.float-right {
  float: right;
}

td.text-right, th.text-right {
  text-align: right !important;
}

.list-page-new-button {
  margin-top: 15px;
}

.field-label {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 120px;
  margin-top: 5px;
  margin-right: 10px;
}

.field_with_errors {
  display: block;
  .field_with_errors {
    display: inline-block;
  }

  input {
    color: #b94a48 !important;
    border-color: darken(#ee5f5b, 10%) !important;
    box-shadow: 0 0 6px lighten(#ee5f5b, 20%) !important;
  }
}

.alert ul {
  margin-bottom: 0px;
}

#error_explanation {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #f2dede;
  color: #b94a48;
  border: 1px solid #eed3d7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  h2 {
    margin: 0em;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
  }
}

.divided {
  border-top: 1px solid #CCC;
}

