.association {
  border-width: 1px 0px;
  border-color: lightgrey;
  border-style: solid;
  margin-bottom: -1px;
  .row {
    padding-top: 10px;
  }
}

.small-field-label {
  width: 45px;
  display: inline-block;
}

.medium-field-label {
  width: 60px;
  display: inline-block;
}

.new-association {
  margin-top: 10px;
}

.actions {
  margin: 30px 0px;
}