// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fixed-header {
  position: fixed;
  top: 40px;
  height: 150px;
  background: #BECADF;
  background-image: -webkit-linear-gradient(45deg, #BECADF 0%,#FFFFFF 100%);
  background-image: -moz-linear-gradient(45deg, #BECADF 0%,#FFFFFF 100%);
  background-image: -ms-linear-gradient(45deg, #BECADF 0%,#FFFFFF 100%);
  background-image: -o-linear-gradient(45deg, #BECADF 0%,#FFFFFF 100%);
  background-image: linear-gradient(45deg, #BECADF 0%,#FFFFFF 100%);
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
  z-index: 10;
  .span9 {
    padding: 20px;
  }
  .span2 {
    padding: 30px;
  }
  h2 {
    margin: 0px;
    color: #000000;
  }
  .lead {
    color: #666666;
    margin-bottom: 5px;
  }
  .progress {
    margin: 0px;
  }
}

.anchor-course {
  display: block;
  position: relative;
  top: -190px;
  visibility: hidden;
}

#first-section {
  padding-top: 150px;
}

#lesson-tree {
  height: 150px;
}

#lesson-tree-wrapper {
  height: 190px;
}

g.node {
  font-family: Verdana, Helvetica;
  font-size: 12px;
  font-weight: bold;
}
circle.node-dot {
  fill: lightsalmon;
  stroke: red;
  stroke-width: 1px;
}
circle.node-dot-empty {
  fill: #EEEEEE;
  stroke: grey;
  stroke-width: 1px;
}

path.link {
  fill: none;
  stroke: gray;
}

div.node-modal {
  position: absolute;
  background: #444444;
  border-radius: 5px;
  padding: 10px;
  z-index: 20;
  color: white;
  opacity: 0.85;
  blockquote {
    color: #AAAAAA;
  }
}

div.node-pointer {
  position: absolute;
  height: 0px;
  width: 0px;
  border-top: 12px solid #444444;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  z-index: 21;
  opacity: 0.85;
}