// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fixed-header {
  position: fixed;
  top: 40px;
  height: 150px;
  background: linear-gradient(45deg, #CCCCFF 0%,#FFFFFF 100%);
  margin: 0px;
  padding: 0px;
  z-index: 10;
  .span9, .span2 {
    padding: 20px;
  }
  h2 {
    margin: 0px;
    color: #000000;
  }
  .lead {
    color: #666666;
    margin-bottom: 5px;
  }
  .progress {
    margin: 0px;
  }
}


.fixed_header:after {
  background: asset-url("pattern.png") repeat center center;
}

#first-section {
  padding-top: 150px;
}

#lesson-tree {
  height: 150px;
}

#lesson-tree-wrapper {
  height: 190px;
}

g.node {
    font-family: Verdana, Helvetica;
    font-size: 12px;
    font-weight: bold;
}
circle.node-dot {
    fill: lightsalmon;
    stroke: red;
    stroke-width: 1px;
}

path.link {
    fill: none;
    stroke: gray;
}