.lesson-tree-level {
  margin-left: 5px;
  padding-left: 8px;
  border-left: 1px solid #E8F1F6;
}

.lesson-tree-node {
  margin-bottom: 4px;
}

.label-muted {
  background-color: #CCCCCC;
}

.label-scheduled {
  background-color: #81649E;
}

.label-success-outline {
  background-color: white;
  border: 1px solid #468847;
  color: #468847;
  font-weight: normal;
}
