.lesson-tree-level {
  margin-left: 5px;
  padding-left: 8px;
  border-left: 1px solid #E8F1F6;
}

.lesson-tree-node {
  margin-bottom: 4px;
}

.meeting-list, .lesson-tree {
  margin: 20px 0px 30px 0px;
}

.meeting-time {
  margin-bottom: 4px;
  .meeting-time-day {
    display: inline-block;
    width: 40px;
    font-weight: bold;
    color: #81649E;
  }
  .meeting-time-date {
    display: inline-block;
    width: 50px;
  }
  .meeting-time-time {
    display: inline-block;
    width: 80px;
  }
  .meeting-time-icons {
    display: inline-block;
    width: 40px;
  }
}

.label-muted {
  background-color: #CCCCCC;
}

.label-scheduled {
  background-color: #81649E;
}

.label-success-outline {
  background-color: white;
  border: 1px solid #468847;
  color: #468847;
  font-weight: normal;
}
