.lesson-tree-level {
  margin-left: 5px;
  padding-left: 8px;
  border-left: 1px solid #E8F1F6;
}

.lesson-tree-node {
  margin-bottom: 4px;
}

.meeting-time {
  color: #875FA3;
  margin-bottom: 4px;
}

.label-muted {
  background-color: #CCCCCC;
}